.idea
.vscode
thunder-tests/thunderEnvironment.db

.env

node_modules/
yarn-error.log

mockTxns/*
src/migration
dbData
media/banners/**
media/category/**
media/users/**
media/bankimgs/**
media/store/**

rabbitmq-data/
rabbitmq-log/

build